.combobox {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  box-sizing: border-box;
  width: 100%;
  max-width: 273px;
  padding: var(--space-8);
  border: 1px solid var(--ui-border-color);
  border-radius: var(--space-8);
  background-color: var(--secondary-background-color);
  font-family: 'Figtree', system-ui, -apple-system, sans-serif;
}

.combobox__search {
  flex-shrink: 0;
}

.combobox__list {
  max-height: 256px;
  overflow-y: auto;
}

.combobox__footer {
  display: flex;
  justify-content: flex-start;
  padding-block-start: var(--space-4);
}

.combobox--size-small {
  max-width: 244px;
}

.combobox--size-large .combobox__footer {
  padding-block-start: var(--space-8);
}
